.header{
    background-color: $light-gray;

    .comunication{
        font-size: 14px;
        color: $dark-silver;
        .container{
            display: flex;
            justify-content: space-between;

            .contact{
                display: flex;
                justify-content: center;
                align-items: center;

                span{
                    padding: 0 20px 0 0;
                }
            }

            .social{
                display: flex;
                height: 40px;

                .media{
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &.facebook{
                        &:hover{
                            @include media-social($facebook);
                        }   
                    }
                    &.twitter{
                        &:hover{
                            @include media-social($twitter);
                        }   
                    }
                    &.linkedin{
                        &:hover{
                            @include media-social($linkedin);
                        }   
                    }
                    &.instagram{
                        &:hover{
                            @include media-social($instagram);
                        }   
                    }
                    &.whatsapp{
                        &:hover{
                            @include media-social($whatsapp);
                        }   
                    }
                }
            }
        }
    }
}