 nav{
   &.hamburger-menu{
      color: gainsboro;            /* menu font color */
      background-color: $light-green;      /* menu background color */
      
      aside {
         width: 100%;                /* menu width */
      }
   }
}
