 nav{
   .hamburger-menu{
      color: gainsboro;            /* menu font color */
      background-color: teal;      /* menu background color */
      
      aside {
         width: 100%;                /* menu width */
      }
   }
}
