.nav{
    border-bottom: 1px solid $light-gray;
    @media screen and (max-width:767px) {
        display: none;
    }
    .container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        margin-bottom: 0;

        .l1{
            cursor: pointer;
        }

        li{
            padding: 10px 20px;
            position: relative;

            &:hover, &:active{
                background-color: $light-gray;
            }
            
            a{
                color: $dark-silver;
                text-decoration: none;
            }

            .sub1{
                display: none;
            }

            &.l2{
                &:hover{
                    .sub-effects{
                        transition: 0.5s;
                    }
                    .sub1{
                        z-index: 1;
                        min-width: 150px;
                        position: absolute;
                        background-color: lighten($color: $black, $amount: 40%);
                        margin-top: 10px;
                        left: 0;

                        li{
                            padding: 10px 20px;
                            &:hover{
                                background-color: lighten($color: $black, $amount: 30%);
                            }
                            
                            a{
                                color: $white;
                            }
                        }

                        .sub2{
                            display: none;
                        }

                        &.l3{
                            &:hover{
                                .sub2{
                                    min-width: 150px;
                                    background-color: $black;
                                    transition:0.5s;
                                    display: block;
                                    padding: 10px 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}